.welcome_message {
    /* display: none; */
    background-color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: -5%;
}

.art{
    background-color: white;
     text-align: center; 
     margin: 0 auto; 
    display: flex;
    flex-direction: row;
}

#cab_articulo {
    display: flex;
    flex-direction: row;
}

.img{
    background-color: white;
    border: 1px solid white;
    width: 30%;
}

#img1{
    justify-content: center;
    vertical-align: middle;
}
#art1{

}