.ico {
    width: 25px;
}

.imgProfile {
    width: 25px;
}

.responsive-font {}

a {
    text-decoration: none;
}

li {
    margin: 2%;
}

.t_header {
    text-align: center;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font {
        font-size: 25px;
    }
    .resp-font {
        font-size: 27px;
    }
    .r-font {
        font-size: 22px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font {
        font-size: 25px;
    }
    .resp-font {
        font-size: 27px;
    }
    .r-font {
        font-size: 20px;
    }
}

@media (max-width:1000px) {
    .responsive-font {
        font-size: 18px;
    }
    .resp-font {
        font-size: 22px;
    }
    .r-font {
        font-size: 18px;
    }
}
@media (max-width:900px) {
    .responsive-font {
        font-size: 16px;
    }
    .resp-font {
        font-size: 22px;
    }
    .r-font {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .responsive-font {
        font-size: 15px;
    }
    .resp-font {
        font-size: 15px;
    }
    .r-font {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .responsive-font {
        font-size: 14px;
    }
    .resp-font {
        font-size: 14px;
    }
    .r-font {
        font-size: 10px;
    }
}

.navbar {
    background-color: #689FC2;
    height: 80%;
}

.font_title {
    color: white;
}

.sec {
    /* background-color: beige; */
}

#welcome_message {
    display: flex;
    text-align: justify;
     text-align: center; 
    justify-content: center;
    
}

body{
    background-color:#B7D7EB ;
}

.art{
    /* background-color: #505456; */
    background-color: #c8c8c9;
    border-radius:15px;
    border: solid 1px black;
    margin: 1%;
    display: none;
}
#articulos{
    background-color: rgb(54, 53, 53); 
    padding: 1%;
     border-radius:10px; 

}

.slider_img{
    width: 100%;
    /* height: auto; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2%;

    object-fit: cover;
    width: 20ch;
    max-height: 200px;
     height:10rem;
    /*min-height: 10%; */
    /* height: 10em; */
}

#imagenArt{
    margin-top: -2%;
}

.btnSlider{
    /* width: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgNavigation{
    width: 55%;
}

#msjSlider{
    color: white;
    /* text-transform: capitalize; */
}

#content{

}

#articulo1{

}
#articulo2{
}
#articulo3{
    
}

#buscador{
    /* width: 80%; */
}

.article {
    background-color: #e1e6e9;
    background: linear-gradient(45deg, #a0c7e7, #638cbb);
    border-radius: 10px;
    /*  border: 1px solid black;*/
    /* background-color: rgb(77, 67, 67);  */

}
#cab_articulo {
    display: flex;
    flex-direction: row;
}



