body {
    background-color: #B7D7EB;
}




a {
    text-decoration: none;
}

.ico {
    width: 25px;
}

/* li {
    margin: 2%;
} */

.t_header {
    text-align: center;
}

.imgProfile {
    width: 25px;
}

.font_title {
    color: white;
}

.navbar {
    background-color: #689FC2;
    height: 80%;
}

#buscador {

    height: 2.5em;
}




#cab_articulo {
    display: flex;
    flex-direction: row;
}

#imagenArt {
    margin-top: -2%;

}



.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article {
    /* background-color: white;*/
    /* background: linear-gradient(45deg, #a0c7e7, #7195be); */
    width: 100%;
    margin: 0 auto;
    /* border-radius: 1px; 
    /*  border: 1px solid black;*/
    /* background-color: rgb(77, 67, 67);  */
    /* background-color: #e1e6e9; */
    /* background: linear-gradient(45deg, #a0c7e7, #638cbb); */
    border-radius: 1px;
    border-top: 1px solid black;
    /* border: solid black 2px; */
}





.product--card-single {
    background-color: white;
}


h4 {
    font-size: 10px;
    font-weight: 400;
}




.ficha_ampliada {
    border-radius: 10px;
    /* background-color: white; */
    /* background: linear-gradient(45deg, #ebedee, #ffffff); */
    background: linear-gradient(45deg, #b7c8d1d2, #ffffffc5);


}




/* #divRight{
    margin-left: 20em !important;
} */


.optionList {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin: 3%;
}


.btnDesc {
    cursor: pointer;
}

.btnDesc:hover {
    color: #0a5b8d;
}

.btnComents {
    cursor: pointer;
}

.btnComents:hover {
    color: #01218ac4;
}

.textoDescripcion {
    text-align: center;

}

.titleArt{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

/* .contenidoDescripcion{
    text-align: center;

} */

@media (min-width: 1200px) {
    .responsive-font {
        font-size: 25px;
    }

    .resp-font {
        font-size: 27px;
    }

    .r-font {
        font-size: 22px;
    }

    .ri-font {
        font-size: 15px;
    }
    .ri2-font {
        font-size: 20px;
    }
    .ri3-font {
        font-size: 20px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font {
        font-size: 25px;
    }

    .resp-font {
        font-size: 27px;
    }

    .r-font {
        font-size: 20px;
    }

    .ri-font {
        font-size: 15px;
    }
    .ri2-font {
        font-size: 18px;
    }
    .ri3-font {
        font-size: 17px;
    }
}

@media (max-width:1000px) {
    .responsive-font {
        font-size: 18px;
    }

    .resp-font {
        font-size: 22px;
    }

    .r-font {
        font-size: 18px;
    }

    .ri-font {
        font-size: 16px;
    }
    .ri2-font {
        font-size: 17px;
    }
    .ri3-font {
        font-size: 16px;
    }
}

@media (max-width:900px) {
    .responsive-font {
        font-size: 16px;
    }

    .resp-font {
        font-size: 22px;
    }

    .r-font {
        font-size: 16px;
    }

    .ri-font {
        font-size: 14px;
    }
    .ri2-font {
        font-size: 16px;
    }
    .ri3-font {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .responsive-font {
        font-size: 15px;
    }

    .resp-font {
        font-size: 15px;
    }

    .r-font {
        font-size: 14px;
    }

    .ri-font {
        font-size: 13px;
    }
    .ri2-font {
        font-size: 14px;
    }
    .ri3-font {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .responsive-font {
        font-size: 14px;
    }

    .resp-font {
        font-size: 14px;
    }

    .r-font {
        font-size: 10px;
    }

    .ri-font {
        font-size: 11px;
    }
    .ri2-font {
        font-size: 12px;
    }
    .ri3-font {
        font-size: 10px;
    }
}



#articulos{
    /* background-color: rgb(54, 53, 53);  */
    padding: 1%;
     border-radius:10px; 

}

.btnSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.divbtnIzda{
   margin-left: 30%;
   
}

.divbtnDcha{
    margin-right: 30%;
 }
#imagenArt{
    margin-top: -2%;
}

.slider_img{
    /*width: 60%;*/
    /* height: auto; */
    /*border-radius: 10px;*/
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
   /* margin-top: 2%;*/

    /*object-fit: cover;*/
    /* width: 20ch;*/
    /*max-height: 200px;*/
    /* height:10rem; */
    /*min-height: 10%; */
    /* height: 10em; */
}

.slider_img{
    width: 100%;
    /* height: auto; */
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    margin-top: 2%;

    object-fit: cover;
    width: 20ch;
    max-height: 300px;
     height:15rem;
    /*min-height: 10%; */
    /* height: 10em; */
}

.imgNavigation{
    width: 55%;
}


.comentsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;

}








#footer {
    position: relative;
    bottom: 0px;
     /* width: 100%; */
    /* height: 130px;    */
    /* background: #6cf; */ 
 }






footer {
    position: absolute;

    bottom: 0;

    left: 0;

    right: 0;

    background: #111;

    height: auto;

    width: 100vw;

    padding-top: 40px;

    color: #fff;
}

.footer-content {
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;

    font-weight: 500;

    text-transform: capitalize;

    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;

    margin: 10px auto;

    line-height: 28px;

    font-size: 14px;

    color: #cacdd2;
}

.socials {
    list-style: none;

    display: flex;

    align-items: center;

    justify-content: center;

    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;

    color: #fff;

    padding: 5px;
}

.socials a i {
    font-size: 1.1rem;

    width: 20px;

    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;

    width: 100vw;

    padding: 20px;

    padding-bottom: 40px;

    text-align: center;
}

.footer-bottom p {
    float: left;

    font-size: 14px;

    word-spacing: 2px;
}

.footer-bottom p a {
    color: #ccc;

    font-size: 16px;

    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;

    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;

    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-bottom p {
        float: none;
    }

    .footer-menu ul {
        display: flex;

        margin-top: 10px;

        margin-bottom: 20px;

        text-align: center;
    }
}
























