body {
    background-color: #B7D7EB;
}




a {
    text-decoration: none;
}

.ico {
    width: 25px;
}

li {
    margin: 2%;
}

.t_header {
    text-align: center;
}

.imgProfile {
    width: 25px;
}

.font_title {
    color: white;
}

.navbar {
    background-color: #689FC2;
    height: 80%;
}

#buscador {

    height: 2.5em;
}




#cab_articulo {
    display: flex;
    flex-direction: row;
}

#imagenArt {
    margin-top: -2%;

}



.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article {
    /* background-color: white;*/
    /* background: linear-gradient(45deg, #a0c7e7, #7195be); */
    width: 100%;
    margin: 0 auto;
    /* border-radius: 1px; 
    /*  border: 1px solid black;*/
    /* background-color: rgb(77, 67, 67);  */
    /* background-color: #e1e6e9; */
    /* background: linear-gradient(45deg, #a0c7e7, #638cbb); */
    border-radius: 1px;
    border-top: 1px solid black;
    /* border: solid black 2px; */
}



.product--card-single{
 background-color: white;
}

.owl-carousel .item {
    height: 10rem;
    background: #4dc7a0;
    padding: 1rem;
  }
  h4 {
    font-size: 20px;
    font-weight: 400;
  }




















/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font {
        font-size: 25px;
    }

    .resp-font {
        font-size: 27px;
    }

    .r-font {
        font-size: 22px;
    }
    .ri-font {
        font-size: 15px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font {
        font-size: 25px;
    }

    .resp-font {
        font-size: 27px;
    }

    .r-font {
        font-size: 20px;
    }
    .ri-font {
        font-size: 15px;
    }
}

@media (max-width:1000px) {
    .responsive-font {
        font-size: 18px;
    }

    .resp-font {
        font-size: 22px;
    }

    .r-font {
        font-size: 18px;
    }
    .ri-font {
        font-size: 16px;
    }
}

@media (max-width:900px) {
    .responsive-font {
        font-size: 16px;
    }

    .resp-font {
        font-size: 22px;
    }

    .r-font {
        font-size: 16px;
    }
    .ri-font {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .responsive-font {
        font-size: 15px;
    }

    .resp-font {
        font-size: 15px;
    }

    .r-font {
        font-size: 14px;
    }
    .ri-font {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .responsive-font {
        font-size: 14px;
    }

    .resp-font {
        font-size: 14px;
    }

    .r-font {
        font-size: 10px;
    }
    .ri-font {
        font-size: 11px;
    }
}